
:root {
  --base-font-size: 22px;

  --font-sans: Montserrat, sans-serif;

  --sage: #b6bdb6;
  --dark-sage: rgb(163, 170, 163);

  --glacier-blue: #2d5266;
  --flathead-blue: #263c47;

  --ochre: #7f6333;

  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  --ease-in-out: cubic-bezier(0.83, 0, 0.17, 1);
  --ease-in: cubic-bezier(0.64, 0, 0.78, 0);
  --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
}

/* Elements */

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
  text-size-adjust: none;
}

body {
  background-color: var(--sage);
  color: var(--flathead-blue);
  font-family: var(--font-sans);
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
}

@media (min-width: 700px) {
  body {
    padding-bottom: 20px;
  }
}

body::before,
body::after {
  border-color: var(--flathead-blue);
  border-style: solid;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

body::before {
  border-width: 0 2px;
  left: 8px;
  right: 8px;
}

body::after {
  border-width: 2px 0;
  bottom: 8px;
  top: 8px;
}

@media (min-width: 700px) {
  body::before {
    left: 18px;
    right: 18px;
  }

  body::after {
    bottom: 18px;
    top: 18px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

ul, ol {
  list-style: none;
  padding: 0;
}

p {
  margin: 0 0 1.25em;
}

hr {
  border: 0;
  border-top: 3px solid var(--flathead-blue);
  margin: 40px auto;
  width: 50px;
}

@media (min-width: 700px) {
  hr {
    border-top-width: 4px;
    width: 80px;
  }
}

a {
  color: var(--flathead-blue);
}


/* Utilities */

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}


/* Layout */

.pane {
  padding: 80px 25px;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

@media (min-width: 500px) {
  .pane {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 700px) {
  .pane {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 80px;
  }
}

@media (min-width: 1000px) {
  .pane {
    min-height: max(100vh, 800px);
    padding: 220px 20px;
  }

  .pane [class^=g-] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
    position: absolute;
    width: 300px;
  }
  
  .pane .g-topleft,
  .pane .g-left,
  .pane .g-bottomleft {
    left: 20px;
  }
  
  .pane .g-topcenter,
  .pane .g-center,
  .pane .g-bottomcenter {
    left: 50%;
    margin-left: -300px;
    width: 600px;
  }
  
  .pane .g-topright,
  .pane .g-right,
  .pane .g-bottomright {
    right: 20px;
  }
  
  .pane .g-topleft,
  .pane .g-topcenter,
  .pane .g-topright {
    top: 0;
  }
  
  .pane .g-left,
  .pane .g-center,
  .pane .g-right {
    margin-top: -100px;
    top: 50%;
  }
  
  .pane .g-bottomleft,
  .pane .g-bottomcenter,
  .pane .g-bottomright {
    bottom: 0;
  }
}

@media (min-width: 1300px) {
  .pane [class^=g-] {
    height: 200px;
    max-width: 360px;
    width: calc(50% - 320px - 20px);
  }
}

.col-center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  .col-center {
    box-sizing: content-box;
    max-width: 640px;
    padding-left: 200px;
    padding-right: 200px;
  }
}




.mb {
  margin-bottom: 40px;
}

@media (min-width: 700px) {
  .mb {
    margin-bottom: 80px;
  }
}

.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }


/* Typography */

.hed {
  font-size: 0.7272727273rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .hed {
    font-size: 0.8181818182rem;
  }
}

@media (min-width: 1000px) {
  .hed {
    font-size: 1rem;
    margin: 150px 0;
  }
}

@media (min-width: 1000px) {
  .g-topcenter .hed,
  .g-bottomcenter .hed {
    margin: 0;
  }
}

.hed::before,
.hed::after {
  content: '—';
  display: inline;
  margin: 0 0.25em;
}

.subhed {
  font-size: 1.3636363636em;
  letter-spacing: -0.0125em;
  line-height: 1.2;
  margin: 0 0 15px;
  padding-bottom: 15px;
  position: relative;
}

.subhed::after {
  border-top: 3px solid var(--flathead-blue);
  content: '';
  display: block;
  left: 0;
  margin-top: -2px;
  position: absolute;
  top: 100%;
  transition: transform 0.3s var(--ease-in-out);
  width: 30px;
}

@media (min-width: 700px) {
  .subhed::after {
    border-top-width: 4px;
    width: 50px;
  }
}

.subhed a {
  position: relative;
}

.subhed a:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-sage);
  text-decoration-thickness: 4px;
}

.subhed a::before {
  border-color: transparent transparent transparent var(--dark-sage);
  border-style: solid;
  border-width: 0.666em 0 0.666em 1em;
  content: ' ';
  display: block;
  height: 0;
  margin-right: 0.5em;
  opacity: 0;
  position: absolute;
  right: 100%;
  top: 0;
  transform: translateX(-0.5em);
  transition-duration: 0.3s;
  transition-property: opacity, transform;
  transition-timing-function: var(--ease-in);
  width: 0;
  will-change: opacity;
}

.subhed a:focus {
  background-color: var(--dark-sage);
}

.subhed a:hover::before,
.subhed a:focus::before {
  opacity: 1;
  transform: translateX(0);
}

.text-body .subhed a {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.text-body .subhed a:focus {
  background-color: var(--dark-sage);
}

.text-body {
  font-size: 0.8181818182rem;
  line-height: 1.4545454545;
}

@media (min-width: 400px) {
  .text-body {
    font-size: clamp(0.8181818182rem, 4.125vw, 1rem);
  }
}

@media (min-width: 700px) {
  .text-body {
    font-size: 1rem;
  }
}

.text-body a {
  background-color: var(--dark-sage);
  border-bottom: 2px solid transparent;
  padding: 3px 4px 1px;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: background, border;
  transition-timing-function: var(--ease-in);
}

.text-body a:hover,
.text-body a:focus {
  background-color: transparent;
  border-bottom-color: var(--ochre);
  outline: none;
  transition-duration: 0.3s;
}

.text-center {
  text-align: center;
}

.text-caps {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-big {
  font-size: 1rem;
}

@media (min-width: 400px) {
  .text-big {
    font-size: clamp(1rem, 4.75vw, 1.4545454545rem);
  }
}

@media (min-width: 700px) {
  .text-big {
    font-size: 1.4545454545rem;
  }
}

@media (min-width: 1300px) {
  .text-big {
    font-size: 1.6363636364rem;
  }
}

.footnote {
  font-size: 0.8125em;
  font-style: italic;
}


/* Modules: Header */

.pane--header {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 150px 10px;
  position: relative;
}

@media (min-width: 700px) {
  .pane--header {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

@media (min-width: 1000px) {
  .pane--header {
    margin-bottom: 200px;
    padding-bottom: 230px;
    padding-top: 230px;
  }
}

.king {
  height: 80px;
  left: 50%;
  margin-left: -40px;
  margin-top: 20px;
  position: absolute;
  top: 10px;
  width: 80px;
}

@media (min-width: 700px) {
  .king {
    height: 130px;
    margin-left: -65px;
    top: 20px;
    width: 130px;
  }
}
@media (min-width: 1000px) {
  .king {
    height: 150px;
    margin-left: -75px;
    width: 150px;
  }
}

.wordmark {
  display: block;
  fill: var(--flathead-blue);
  height: auto;
  margin: 40px auto;
  max-width: 75%;
  width: 320px;
}

@media (min-width: 1000px) {
  .wordmark {
    width: clamp(320px, 30vw, 380px);
  }
}

@media (min-width: 1300px) {
  .wordmark {
    width: 380px;
  }
}


/* Modules: Navigation */

.navmain {
  bottom: 0;
  font-size: 0.6818181818rem;
  left: 0;
  padding: 40px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 370px) {
  .navmain {
    font-size: 0.7727272727rem;
    font-size: clamp(0.7727272727rem, 4.5vw, 1rem);
  }
}
@media (min-width: 700px) {
  .navmain {
    font-size: 1rem;
    letter-spacing: 0.1em;
    padding: 60px 20px;
  }
}
@media (min-width: 1000px) {
  .navmain {
    padding: 0;
    position: static;
  }
}
@media (min-width: 1300px) {
  .navmain {
    font-size: 1.0909090909rem;
  }
}

.navmain ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px;
}

@media (min-width: 700px) {
  .navmain ul {
    max-width: 560px;
  }
}

.navmain li {
  position: relative;
  width: 33.333%;
}

@media (min-width: 1000px) {
  .navmain li {
    position: absolute;
    width: 300px;
  }

  .navmain li:nth-child(1),
  .navmain li:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .navmain li:nth-child(1) {
    left: 20px;
    top: 50%;
  }

  .navmain li:nth-child(2) {
    right: 20px;
    top: 50%;
  }

  .navmain li:nth-child(3) {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1300px) {
  .navmain li {
    width: 360px;
  }
}


/* Modules: Links */

.underlink {
  padding: 12px 8px;
  position: relative;
  text-decoration: none;
}

.underlink:focus {
  background-color: var(--dark-sage);
  outline: none;
}

.underlink:active::after {
  margin-top: 0;
}

.underlink:hover::after {
  transform: scaleX(1.25);
}

.underlink::after {
  border-top: 3px solid var(--flathead-blue);
  content: '';
  display: block;
  left: 50%;
  margin-left: -15px;
  margin-top: -2px;
  position: absolute;
  top: 100%;
  transition: transform 0.3s var(--ease-in-out);
  width: 30px;
}

@media (min-width: 700px) {
  .underlink::after {
    border-top-width: 4px;
    margin-left: -25px;
    width: 50px;
  }
}


/* Modules: Illustrations */

.illo {
  display: block;
  height: 140px;
  margin: 40px auto;
  width: 140px;
}

@media (min-width: 1000px) {
  .illo {
    margin-left: 30px;
    margin-right: 30px;
    position: absolute;
  }

  .illo--left,
  .illo--right {
    margin-bottom: 0;
    margin-top: -70px;
    top: 50%;
  }

  .illo--left {
    left: 20px;
  }

  .illo--right {
    right: 20px;
  }

  .illo--bottom {
    bottom: 0;
    left: 50%;
    margin-bottom: 10px;
    margin-left: -70px;
    margin-top: 10px;
  }
}

@media (min-width: 1090px) {
  .illo--left,
  .illo--right {
    margin-left: 0;
    margin-right: 0;
    max-width: 300px;
    width: calc(50% - 320px - 20px);
  }
}

@media (min-width: 1300px) {
  .illo--left,
  .illo--right {
    max-width: 360px;
  }

  .illo--bottom {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}


/* Modules: Forms */

form {
  margin: 0 auto 60px;
  max-width: 40ch;
}

input,
textarea,
button {
  font-family: var(--font-sans);
}

.form-field-row {
  align-items: top;
  display: flex;
  justify-content: space-between;
}

.form-field-row .form-field-group {
  width: calc(50% - 10px);
}

.form-field-group {
  position: relative;
  margin: 0 0 20px;
}

.form-label,
.form-input {
  display: block;
  
}

.form-label {
  font-size: 0.7272727273rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin: 0 0 6px;
}

@media (min-width: 700px) {
  .form-label {
    font-size: 0.9090909091rem;
  }
}

.form-input,
.form-button {
  border: 2px solid transparent;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 8px 20px;
  width: 100%;
}

@media (min-width: 700px) {
  .form-input,
  .form-button {
    font-size: 1.125rem;
    padding: 12px 20px;
  }
}

.form-input:focus,
.form-button:focus {
  border-color: var(--ochre);
  outline: none;
}

.form-input {
  background-color: var(--white);
}

.form-button {
  background-color: var(--glacier-blue);
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--flathead-blue);
  border-color: var(--flathead-blue);
}


/* Modules: Contact */

.contactinfo {
  font-size: 0.8181818182rem;
  margin: 20px auto;
}

@media (min-width: 1000px) {
  .contactinfo {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1300px) {
  .contactinfo {
    font-size: 1rem;
  }
}

.contactinfo a {
  display: inline-block;
}

.contactinfo .sponsor {
  margin: 0 auto;
  max-width: 14ch;
}


